ARMTemplateForFactory.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "factoryName": {
      "type": "string"
    },
    "environment": {
      "type": "string"
    },
    "sqlMiConnectionString": {
      "type": "securestring",
      "defaultValue": ""
    },
    "sqlMiKeyVaultBaseUrl": {
      "type": "string",
      "defaultValue": ""
    },
    "sqlMiKeyVaultSecretName": {
      "type": "string",
      "defaultValue": ""
    },
    "blobStorageConnectionString": {
      "type": "securestring",
      "defaultValue": ""
    },
    "blobKeyVaultBaseUrl": {
      "type": "string",
      "defaultValue": ""
    },
    "blobKeyVaultSecretName": {
      "type": "string",
      "defaultValue": ""
    },
    "container": {
      "type": "string"
    },
    "baseFolder": {
      "type": "string"
    }
  },
  "variables": {
    "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]",
    "useSqlMiKv": "[and(not(empty(parameters('sqlMiKeyVaultBaseUrl'))), not(empty(parameters('sqlMiKeyVaultSecretName'))))]",
    "useBlobKv": "[and(not(empty(parameters('blobKeyVaultBaseUrl'))), not(empty(parameters('blobKeyVaultSecretName'))))]"
  },
  "resources": [
    {
      "name": "[parameters('factoryName')]",
      "type": "Microsoft.DataFactory/factories",
      "apiVersion": "2018-06-01",
      "location": "[resourceGroup().location]",
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {}
    },
    {
      "name": "[concat(parameters('factoryName'), '/LS_SqlMI_KeyVault')]",
      "type": "Microsoft.DataFactory/factories/linkedServices",
      "apiVersion": "2018-06-01",
      "condition": "[variables('useSqlMiKv')]",
      "dependsOn": [
        "[resourceId('Microsoft.DataFactory/factories', parameters('factoryName'))]"
      ],
      "properties": {
        "type": "AzureKeyVault",
        "typeProperties": {
          "baseUrl": "[parameters('sqlMiKeyVaultBaseUrl')]"
        }
      }
    },
    {
      "name": "[concat(parameters('factoryName'), '/LS_Blob_KeyVault')]",
      "type": "Microsoft.DataFactory/factories/linkedServices",
      "apiVersion": "2018-06-01",
      "condition": "[variables('useBlobKv')]",
      "dependsOn": [
        "[resourceId('Microsoft.DataFactory/factories', parameters('factoryName'))]"
      ],
      "properties": {
        "type": "AzureKeyVault",
        "typeProperties": {
          "baseUrl": "[parameters('blobKeyVaultBaseUrl')]"
        }
      }
    },
    {
      "name": "[concat(parameters('factoryName'), '/LS_SqlMI')]",
      "type": "Microsoft.DataFactory/factories/linkedServices",
      "apiVersion": "2018-06-01",
      "dependsOn": "[concat(createArray(resourceId('Microsoft.DataFactory/factories', parameters('factoryName'))), if(variables('useSqlMiKv'), createArray(resourceId('Microsoft.DataFactory/factories/linkedServices', parameters('factoryName'), 'LS_SqlMI_KeyVault')), createArray()))]",
      "properties": {
        "type": "AzureSqlManagedInstance",
        "typeProperties": {
          "connectionString": "[if(variables('useSqlMiKv'), createObject('type','AzureKeyVaultSecret','store',createObject('referenceName','LS_SqlMI_KeyVault','type','LinkedServiceReference'),'secretName',parameters('sqlMiKeyVaultSecretName')), parameters('sqlMiConnectionString'))]"
        },
        "annotations": [
          "metadata-driven"
        ]
      }
    },
    {
      "name": "[concat(parameters('factoryName'), '/LS_Blob')]",
      "type": "Microsoft.DataFactory/factories/linkedServices",
      "apiVersion": "2018-06-01",
      "dependsOn": "[concat(createArray(resourceId('Microsoft.DataFactory/factories', parameters('factoryName'))), if(variables('useBlobKv'), createArray(resourceId('Microsoft.DataFactory/factories/linkedServices', parameters('factoryName'), 'LS_Blob_KeyVault')), createArray()))]",
      "properties": {
        "type": "AzureBlobStorage",
        "typeProperties": {
          "connectionString": "[if(variables('useBlobKv'), createObject('type','AzureKeyVaultSecret','store',createObject('referenceName','LS_Blob_KeyVault','type','LinkedServiceReference'),'secretName',parameters('blobKeyVaultSecretName')), parameters('blobStorageConnectionString'))]"
        },
        "annotations": [
          "metadata-driven"
        ]
      }
    },
    {
      "name": "[concat(parameters('factoryName'), '/DS_SqlMI')]",
      "type": "Microsoft.DataFactory/factories/datasets",
      "apiVersion": "2018-06-01",
      "dependsOn": [
        "[resourceId('Microsoft.DataFactory/factories/linkedServices', parameters('factoryName'), 'LS_SqlMI')]"
      ],
      "properties": {
        "type": "AzureSqlTable",
        "linkedServiceName": {
          "referenceName": "LS_SqlMI",
          "type": "LinkedServiceReference"
        },
        "parameters": {
          "schemaName": {
            "type": "string"
          },
          "tableName": {
            "type": "string"
          }
        },
        "typeProperties": {
          "tableName": {
            "value": "@{dataset().schemaName}.@{dataset().tableName}",
            "type": "Expression"
          }
        },
        "annotations": [
          "metadata-driven"
        ]
      }
    },
    {
      "name": "[concat(parameters('factoryName'), '/DS_BlobParquet')]",
      "type": "Microsoft.DataFactory/factories/datasets",
      "apiVersion": "2018-06-01",
      "dependsOn": [
        "[resourceId('Microsoft.DataFactory/factories/linkedServices', parameters('factoryName'), 'LS_Blob')]"
      ],
      "properties": {
        "type": "Parquet",
        "linkedServiceName": {
          "referenceName": "LS_Blob",
          "type": "LinkedServiceReference"
        },
        "parameters": {
          "container": {
            "type": "string"
          },
          "folderPath": {
            "type": "string"
          },
          "fileName": {
            "type": "string"
          },
          "compressionCodec": {
            "type": "string"
          }
        },
        "typeProperties": {
          "location": {
            "type": "AzureBlobStorageLocation",
            "container": {
              "value": "@dataset().container",
              "type": "Expression"
            },
            "folderPath": {
              "value": "@dataset().folderPath",
              "type": "Expression"
            },
            "fileName": {
              "value": "@dataset().fileName",
              "type": "Expression"
            }
          },
          "compressionCodec": {
            "value": "@dataset().compressionCodec",
            "type": "Expression"
          }
        },
        "annotations": [
          "metadata-driven"
        ]
      }
    },
    {
      "name": "[concat(parameters('factoryName'), '/PL_OrchestrateBackup')]",
      "type": "Microsoft.DataFactory/factories/pipelines",
      "apiVersion": "2018-06-01",
      "dependsOn": [
        "[resourceId('Microsoft.DataFactory/factories/datasets', parameters('factoryName'), 'DS_SqlMI')]",
        "[resourceId('Microsoft.DataFactory/factories/datasets', parameters('factoryName'), 'DS_BlobParquet')]",
        "[resourceId('Microsoft.DataFactory/factories/linkedServices', parameters('factoryName'), 'LS_SqlMI')]",
        "[resourceId('Microsoft.DataFactory/factories/linkedServices', parameters('factoryName'), 'LS_Blob')]"
      ],
      "properties": {
        "annotations": [
          "metadata-driven",
          "backup"
        ],
        "parameters": {
          "runId": {
            "type": "string",
            "defaultValue": ""
          }
        },
        "variables": {
          "vRunId": {
            "type": "String",
            "defaultValue": ""
          }
        },
        "activities": [
          {
            "name": "SetRunId",
            "type": "SetVariable",
            "typeProperties": {
              "variableName": "vRunId",
              "value": {
                "value": "@if(equals(pipeline().parameters.runId,''), string(pipeline().RunId), pipeline().parameters.runId)",
                "type": "Expression"
              }
            }
          },
          {
            "name": "LookupTableList",
            "type": "Lookup",
            "dependsOn": [
              {
                "activity": "SetRunId",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "typeProperties": {
              "source": {
                "type": "SqlSource",
                "sqlReaderQuery": {
                  "value": "SELECT * FROM dbo.TableList WHERE isActive = 1 AND loadingBehavior IN ('FullLoad','DeltaLoad')",
                  "type": "Expression"
                }
              },
              "dataset": {
                "referenceName": "DS_SqlMI",
                "type": "DatasetReference",
                "parameters": {
                  "schemaName": "dbo",
                  "tableName": "TableList"
                }
              },
              "firstRowOnly": false
            }
          },
          {
            "name": "ForEachTable",
            "type": "ForEach",
            "dependsOn": [
              {
                "activity": "LookupTableList",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "typeProperties": {
              "items": {
                "value": "@activity('LookupTableList').output.value",
                "type": "Expression"
              },
              "isSequential": false,
              "batchCount": 20,
              "activities": [
                {
                  "name": "GetWatermark",
                  "type": "Lookup",
                  "typeProperties": {
                    "source": {
                      "type": "SqlSource",
                      "sqlReaderQuery": {
                        "value": "@concat('SELECT * FROM dbo.WatermarkState WHERE tableId = ', string(item().tableId))",
                        "type": "Expression"
                      }
                    },
                    "dataset": {
                      "referenceName": "DS_SqlMI",
                      "type": "DatasetReference",
                      "parameters": {
                        "schemaName": "dbo",
                        "tableName": "WatermarkState"
                      }
                    },
                    "firstRowOnly": true
                  }
                },
                {
                  "name": "CopyToParquet",
                  "type": "Copy",
                  "dependsOn": [
                    {
                      "activity": "GetWatermark",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "typeProperties": {
                    "source": {
                      "type": "SqlSource",
                      "sqlReaderQuery": {
                        "value": "@if(not(empty(item().queryOverride)), item().queryOverride, if(equals(item().loadingBehavior,'FullLoad'), concat('SELECT * FROM [', item().schemaName, '].[', item().tableName, ']'), if(equals(item().watermarkType,'datetime'), concat('SELECT * FROM [', item().schemaName, '].[', item().tableName, '] WHERE [', item().watermarkColumnName, '] >= ''', if(empty(activity('GetWatermark').output.firstRow.watermarkValue), item().watermarkStartValue, activity('GetWatermark').output.firstRow.watermarkValue), ''' AND [', item().watermarkColumnName, '] < ''', formatDateTime(addDays(utcNow(),1),'yyyy-MM-dd'), ''''), concat('SELECT * FROM [', item().schemaName, '].[', item().tableName, '] WHERE [', item().watermarkColumnName, '] > ', if(empty(activity('GetWatermark').output.firstRow.watermarkValue), item().watermarkStartValue, activity('GetWatermark').output.firstRow.watermarkValue)))))",
                        "type": "Expression"
                      }
                    },
                    "sink": {
                      "type": "ParquetSink",
                      "storeSettings": {
                        "type": "AzureBlobStorageWriteSettings"
                      }
                    },
                    "enableStaging": false
                  },
                  "inputs": [
                    {
                      "referenceName": "DS_SqlMI",
                      "type": "DatasetReference",
                      "parameters": {
                        "schemaName": "@item().schemaName",
                        "tableName": "@item().tableName"
                      }
                    }
                  ],
                  "outputs": [
                    {
                      "referenceName": "DS_BlobParquet",
                      "type": "DatasetReference",
                      "parameters": {
                        "container": "[parameters('container')]",
                        "folderPath": {
                          "value": "@if(empty(item().sinkPathSettings), concat(parameters('baseFolder'),'/', parameters('environment'), '/backup/', item().schemaName, '/', item().tableName, '/', formatDateTime(utcNow(),'yyyy/MM/dd')), item().sinkPathSettings)",
                          "type": "Expression"
                        },
                        "fileName": {
                          "value": "@concat(item().tableName, '_', formatDateTime(utcNow(),'yyyyMMdd_HHmmss'), '.parquet')",
                          "type": "Expression"
                        },
                        "compressionCodec": "snappy"
                      }
                    }
                  ]
                },
                {
                  "name": "LogRun_Succeeded",
                  "type": "SqlServerStoredProcedure",
                  "dependsOn": [
                    {
                      "activity": "CopyToParquet",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "linkedServiceName": {
                    "referenceName": "LS_SqlMI",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "storedProcedureName": "dbo.usp_InsertRunLog",
                    "storedProcedureParameters": {
                      "runId": {
                        "value": "@variables('vRunId')",
                        "type": "String"
                      },
                      "tableId": {
                        "value": "@string(item().tableId)",
                        "type": "String"
                      },
                      "direction": {
                        "value": "Backup",
                        "type": "String"
                      },
                      "status": {
                        "value": "Succeeded",
                        "type": "String"
                      },
                      "rowsCopied": {
                        "value": "@string(activity('CopyToParquet').output.rowsCopied)",
                        "type": "String"
                      },
                      "sinkPath": {
                        "value": "@if(empty(item().sinkPathSettings), concat(parameters('baseFolder'),'/', parameters('environment'), '/backup/', item().schemaName, '/', item().tableName, '/', formatDateTime(utcNow(),'yyyy/MM/dd')), item().sinkPathSettings)",
                        "type": "String"
                      }
                    }
                  }
                },
                {
                  "name": "LogRun_Failed",
                  "type": "SqlServerStoredProcedure",
                  "dependsOn": [
                    {
                      "activity": "CopyToParquet",
                      "dependencyConditions": [
                        "Failed"
                      ]
                    }
                  ],
                  "linkedServiceName": {
                    "referenceName": "LS_SqlMI",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "storedProcedureName": "dbo.usp_InsertRunLog",
                    "storedProcedureParameters": {
                      "runId": {
                        "value": "@variables('vRunId')",
                        "type": "String"
                      },
                      "tableId": {
                        "value": "@string(item().tableId)",
                        "type": "String"
                      },
                      "direction": {
                        "value": "Backup",
                        "type": "String"
                      },
                      "status": {
                        "value": "Failed",
                        "type": "String"
                      },
                      "rowsCopied": {
                        "value": "0",
                        "type": "String"
                      },
                      "sinkPath": {
                        "value": "@if(empty(item().sinkPathSettings), concat(parameters('baseFolder'),'/', parameters('environment'), '/backup/', item().schemaName, '/', item().tableName, '/', formatDateTime(utcNow(),'yyyy/MM/dd')), item().sinkPathSettings)",
                        "type": "String"
                      }
                    }
                  }
                },
                {
                  "name": "If_UpdateWatermark",
                  "type": "IfCondition",
                  "dependsOn": [
                    {
                      "activity": "CopyToParquet",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "typeProperties": {
                    "expression": {
                      "value": "@and(equals(item().loadingBehavior,'DeltaLoad'), not(empty(item().watermarkColumnName)))",
                      "type": "Expression"
                    },
                    "ifTrueActivities": [
                      {
                        "name": "GetMaxWatermark",
                        "type": "Lookup",
                        "typeProperties": {
                          "source": {
                            "type": "SqlSource",
                            "sqlReaderQuery": {
                              "value": "@if(not(empty(item().queryOverride)), concat('SELECT MAX([', item().watermarkColumnName, ']) AS maxValue FROM (', item().queryOverride, ') q'), if(equals(item().loadingBehavior,'FullLoad'), concat('SELECT MAX([', item().watermarkColumnName, ']) AS maxValue FROM [', item().schemaName, '].[', item().tableName, ']'), if(equals(item().watermarkType,'datetime'), concat('SELECT MAX([', item().watermarkColumnName, ']) AS maxValue FROM [', item().schemaName, '].[', item().tableName, '] WHERE [', item().watermarkColumnName, '] >= ''', if(empty(activity('GetWatermark').output.firstRow.watermarkValue), item().watermarkStartValue, activity('GetWatermark').output.firstRow.watermarkValue), ''' AND [', item().watermarkColumnName, '] < ''', formatDateTime(addDays(utcNow(),1),'yyyy-MM-dd'), ''''), concat('SELECT MAX([', item().watermarkColumnName, ']) AS maxValue FROM [', item().schemaName, '].[', item().tableName, '] WHERE [', item().watermarkColumnName, '] > ', if(empty(activity('GetWatermark').output.firstRow.watermarkValue), item().watermarkStartValue, activity('GetWatermark').output.firstRow.watermarkValue)))))",
                              "type": "Expression"
                            }
                          },
                          "dataset": {
                            "referenceName": "DS_SqlMI",
                            "type": "DatasetReference",
                            "parameters": {
                              "schemaName": "dbo",
                              "tableName": "TableList"
                            }
                          },
                          "firstRowOnly": true
                        }
                      },
                      {
                        "name": "UpdateWatermark",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                          {
                            "activity": "GetMaxWatermark",
                            "dependencyConditions": [
                              "Succeeded"
                            ]
                          }
                        ],
                        "linkedServiceName": {
                          "referenceName": "LS_SqlMI",
                          "type": "LinkedServiceReference"
                        },
                        "typeProperties": {
                          "storedProcedureName": "dbo.UpdateWatermark",
                          "storedProcedureParameters": {
                            "tableId": {
                              "value": "@string(item().tableId)",
                              "type": "String"
                            },
                            "newValue": {
                              "value": "@string(activity('GetMaxWatermark').output.firstRow.maxValue)",
                              "type": "String"
                            }
                          }
                        }
                      }
                    ]
                  }
                }
              ]
            }
          }
        ]
      }
    },
    {
      "name": "[concat(parameters('factoryName'), '/PL_OrchestrateRestore')]",
      "type": "Microsoft.DataFactory/factories/pipelines",
      "apiVersion": "2018-06-01",
      "dependsOn": [
        "[resourceId('Microsoft.DataFactory/factories/datasets', parameters('factoryName'), 'DS_SqlMI')]",
        "[resourceId('Microsoft.DataFactory/factories/datasets', parameters('factoryName'), 'DS_BlobParquet')]",
        "[resourceId('Microsoft.DataFactory/factories/linkedServices', parameters('factoryName'), 'LS_SqlMI')]",
        "[resourceId('Microsoft.DataFactory/factories/linkedServices', parameters('factoryName'), 'LS_Blob')]"
      ],
      "properties": {
        "annotations": [
          "metadata-driven",
          "restore"
        ],
        "parameters": {
          "runId": {
            "type": "string",
            "defaultValue": ""
          }
        },
        "variables": {
          "vRunId": {
            "type": "String",
            "defaultValue": ""
          }
        },
        "activities": [
          {
            "name": "SetRunId",
            "type": "SetVariable",
            "typeProperties": {
              "variableName": "vRunId",
              "value": {
                "value": "@if(equals(pipeline().parameters.runId,''), string(pipeline().RunId), pipeline().parameters.runId)",
                "type": "Expression"
              }
            }
          },
          {
            "name": "LookupRestoreList",
            "type": "Lookup",
            "dependsOn": [
              {
                "activity": "SetRunId",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "typeProperties": {
              "source": {
                "type": "SqlSource",
                "sqlReaderQuery": {
                  "value": "SELECT * FROM dbo.TableList WHERE isActive = 1 AND restoreEnabled = 1",
                  "type": "Expression"
                }
              },
              "dataset": {
                "referenceName": "DS_SqlMI",
                "type": "DatasetReference",
                "parameters": {
                  "schemaName": "dbo",
                  "tableName": "TableList"
                }
              },
              "firstRowOnly": false
            }
          },
          {
            "name": "ForEachRestore",
            "type": "ForEach",
            "dependsOn": [
              {
                "activity": "LookupRestoreList",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "typeProperties": {
              "items": {
                "value": "@activity('LookupRestoreList').output.value",
                "type": "Expression"
              },
              "isSequential": false,
              "batchCount": 20,
              "activities": [
                {
                  "name": "If_Upsert",
                  "type": "IfCondition",
                  "typeProperties": {
                    "expression": {
                      "value": "@equals(item().restoreBehavior, 'Upsert')",
                      "type": "Expression"
                    },
                    "ifTrueActivities": [
                      {
                        "name": "CopyFromParquet_Upsert",
                        "type": "Copy",
                        "typeProperties": {
                          "source": {
                            "type": "ParquetSource"
                          },
                          "sink": {
                            "type": "SqlSink",
                            "writeBehavior": "upsert",
                            "upsertSettings": {
                              "keyColumns": {
                                "value": "@split(item().upsertKeyColumns, ',')",
                                "type": "Expression"
                              }
                            },
                            "writeBatchSize": 10000
                          }
                        },
                        "inputs": [
                          {
                            "referenceName": "DS_BlobParquet",
                            "type": "DatasetReference",
                            "parameters": {
                              "container": "[parameters('container')]",
                              "folderPath": {
                                "value": "@concat(parameters('baseFolder'),'/', parameters('environment'), '/backup/', item().schemaName, '/', item().tableName, '/', item().restoreFolderDate)",
                                "type": "Expression"
                              },
                              "fileName": {
                                "value": "@item().restoreFileName",
                                "type": "Expression"
                              },
                              "compressionCodec": "snappy"
                            }
                          }
                        ],
                        "outputs": [
                          {
                            "referenceName": "DS_SqlMI",
                            "type": "DatasetReference",
                            "parameters": {
                              "schemaName": "@item().schemaName",
                              "tableName": "@item().tableName"
                            }
                          }
                        ]
                      },
                      {
                        "name": "LogRun_Upsert_Succeeded",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                          {
                            "activity": "CopyFromParquet_Upsert",
                            "dependencyConditions": [
                              "Succeeded"
                            ]
                          }
                        ],
                        "linkedServiceName": {
                          "referenceName": "LS_SqlMI",
                          "type": "LinkedServiceReference"
                        },
                        "typeProperties": {
                          "storedProcedureName": "dbo.usp_InsertRunLog",
                          "storedProcedureParameters": {
                            "runId": {
                              "value": "@variables('vRunId')",
                              "type": "String"
                            },
                            "tableId": {
                              "value": "@string(item().tableId)",
                              "type": "String"
                            },
                            "direction": {
                              "value": "Restore",
                              "type": "String"
                            },
                            "status": {
                              "value": "Succeeded",
                              "type": "String"
                            },
                            "rowsCopied": {
                              "value": "@string(activity('CopyFromParquet_Upsert').output.rowsCopied)",
                              "type": "String"
                            },
                            "sinkPath": {
                              "value": "@concat(parameters('baseFolder'),'/', parameters('environment'), '/backup/', item().schemaName, '/', item().tableName, '/', item().restoreFolderDate)",
                              "type": "String"
                            }
                          }
                        }
                      },
                      {
                        "name": "LogRun_Upsert_Failed",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                          {
                            "activity": "CopyFromParquet_Upsert",
                            "dependencyConditions": [
                              "Failed"
                            ]
                          }
                        ],
                        "linkedServiceName": {
                          "referenceName": "LS_SqlMI",
                          "type": "LinkedServiceReference"
                        },
                        "typeProperties": {
                          "storedProcedureName": "dbo.usp_InsertRunLog",
                          "storedProcedureParameters": {
                            "runId": {
                              "value": "@variables('vRunId')",
                              "type": "String"
                            },
                            "tableId": {
                              "value": "@string(item().tableId)",
                              "type": "String"
                            },
                            "direction": {
                              "value": "Restore",
                              "type": "String"
                            },
                            "status": {
                              "value": "Failed",
                              "type": "String"
                            },
                            "rowsCopied": {
                              "value": "0",
                              "type": "String"
                            },
                            "sinkPath": {
                              "value": "@concat(parameters('baseFolder'),'/', parameters('environment'), '/backup/', item().schemaName, '/', item().tableName, '/', item().restoreFolderDate)",
                              "type": "String"
                            }
                          }
                        }
                      }
                    ],
                    "ifFalseActivities": [
                      {
                        "name": "OptionalTruncate",
                        "type": "SqlServerStoredProcedure",
                        "linkedServiceName": {
                          "referenceName": "LS_SqlMI",
                          "type": "LinkedServiceReference"
                        },
                        "typeProperties": {
                          "storedProcedureName": "dbo.usp_TruncateIfFull",
                          "storedProcedureParameters": {
                            "schemaName": {
                              "value": "@item().schemaName",
                              "type": "String"
                            },
                            "tableName": {
                              "value": "@item().tableName",
                              "type": "String"
                            },
                            "loadingBehavior": {
                              "value": "@item().loadingBehavior",
                              "type": "String"
                            }
                          }
                        }
                      },
                      {
                        "name": "CopyFromParquet_Insert",
                        "type": "Copy",
                        "dependsOn": [
                          {
                            "activity": "OptionalTruncate",
                            "dependencyConditions": [
                              "Succeeded"
                            ]
                          }
                        ],
                        "typeProperties": {
                          "source": {
                            "type": "ParquetSource"
                          },
                          "sink": {
                            "type": "SqlSink",
                            "writeBehavior": "insert",
                            "writeBatchSize": 10000
                          }
                        },
                        "inputs": [
                          {
                            "referenceName": "DS_BlobParquet",
                            "type": "DatasetReference",
                            "parameters": {
                              "container": "[parameters('container')]",
                              "folderPath": {
                                "value": "@concat(parameters('baseFolder'),'/', parameters('environment'), '/backup/', item().schemaName, '/', item().tableName, '/', item().restoreFolderDate)",
                                "type": "Expression"
                              },
                              "fileName": {
                                "value": "@item().restoreFileName",
                                "type": "Expression"
                              },
                              "compressionCodec": "snappy"
                            }
                          }
                        ],
                        "outputs": [
                          {
                            "referenceName": "DS_SqlMI",
                            "type": "DatasetReference",
                            "parameters": {
                              "schemaName": "@item().schemaName",
                              "tableName": "@item().tableName"
                            }
                          }
                        ]
                      },
                      {
                        "name": "LogRun_Insert_Succeeded",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                          {
                            "activity": "CopyFromParquet_Insert",
                            "dependencyConditions": [
                              "Succeeded"
                            ]
                          }
                        ],
                        "linkedServiceName": {
                          "referenceName": "LS_SqlMI",
                          "type": "LinkedServiceReference"
                        },
                        "typeProperties": {
                          "storedProcedureName": "dbo.usp_InsertRunLog",
                          "storedProcedureParameters": {
                            "runId": {
                              "value": "@variables('vRunId')",
                              "type": "String"
                            },
                            "tableId": {
                              "value": "@string(item().tableId)",
                              "type": "String"
                            },
                            "direction": {
                              "value": "Restore",
                              "type": "String"
                            },
                            "status": {
                              "value": "Succeeded",
                              "type": "String"
                            },
                            "rowsCopied": {
                              "value": "@string(activity('CopyFromParquet_Insert').output.rowsCopied)",
                              "type": "String"
                            },
                            "sinkPath": {
                              "value": "@concat(parameters('baseFolder'),'/', parameters('environment'), '/backup/', item().schemaName, '/', item().tableName, '/', item().restoreFolderDate)",
                              "type": "String"
                            }
                          }
                        }
                      },
                      {
                        "name": "LogRun_Insert_Failed",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                          {
                            "activity": "CopyFromParquet_Insert",
                            "dependencyConditions": [
                              "Failed"
                            ]
                          }
                        ],
                        "linkedServiceName": {
                          "referenceName": "LS_SqlMI",
                          "type": "LinkedServiceReference"
                        },
                        "typeProperties": {
                          "storedProcedureName": "dbo.usp_InsertRunLog",
                          "storedProcedureParameters": {
                            "runId": {
                              "value": "@variables('vRunId')",
                              "type": "String"
                            },
                            "tableId": {
                              "value": "@string(item().tableId)",
                              "type": "String"
                            },
                            "direction": {
                              "value": "Restore",
                              "type": "String"
                            },
                            "status": {
                              "value": "Failed",
                              "type": "String"
                            },
                            "rowsCopied": {
                              "value": "0",
                              "type": "String"
                            },
                            "sinkPath": {
                              "value": "@concat(parameters('baseFolder'),'/', parameters('environment'), '/backup/', item().schemaName, '/', item().tableName, '/', item().restoreFolderDate)",
                              "type": "String"
                            }
                          }
                        }
                      }
                    ]
                  }
                }
              ]
            }
          }
        ]
      }
    }
  ]
}
