ARMTemplateForFactory.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "factoryName": {
      "type": "string"
    },
    "environment": {
      "type": "string"
    },
    "sqlMiConnectionString": {
      "type": "securestring",
      "defaultValue": ""
    },
    "sqlMiKeyVaultBaseUrl": {
      "type": "string",
      "defaultValue": ""
    },
    "sqlMiKeyVaultSecretName": {
      "type": "string",
      "defaultValue": ""
    },
    "blobStorageConnectionString": {
      "type": "securestring",
      "defaultValue": ""
    },
    "blobKeyVaultBaseUrl": {
      "type": "string",
      "defaultValue": ""
    },
    "blobKeyVaultSecretName": {
      "type": "string",
      "defaultValue": ""
    },
    "container": {
      "type": "string"
    },
    "baseFolder": {
      "type": "string"
    }
  },
  "variables": {
    "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]",
    "useSqlMiKv": "[and(not(empty(parameters('sqlMiKeyVaultBaseUrl'))), not(empty(parameters('sqlMiKeyVaultSecretName'))))]",
    "useBlobKv": "[and(not(empty(parameters('blobKeyVaultBaseUrl'))), not(empty(parameters('blobKeyVaultSecretName'))))]"
  },
  "resources": [
    {
      "name": "[parameters('factoryName')]",
      "type": "Microsoft.DataFactory/factories",
      "apiVersion": "2018-06-01",
      "location": "[resourceGroup().location]",
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {}
    },
    {
      "name": "[concat(parameters('factoryName'), '/LS_SqlMI_KeyVault')]",
      "type": "Microsoft.DataFactory/factories/linkedServices",
      "apiVersion": "2018-06-01",
      "condition": "[variables('useSqlMiKv')]",
      "dependsOn": [
        "[resourceId('Microsoft.DataFactory/factories', parameters('factoryName'))]"
      ],
      "properties": {
        "type": "AzureKeyVault",
        "typeProperties": {
          "baseUrl": "[parameters('sqlMiKeyVaultBaseUrl')]"
        }
      }
    },
    {
      "name": "[concat(parameters('factoryName'), '/LS_Blob_KeyVault')]",
      "type": "Microsoft.DataFactory/factories/linkedServices",
      "apiVersion": "2018-06-01",
      "condition": "[variables('useBlobKv')]",
      "dependsOn": [
        "[resourceId('Microsoft.DataFactory/factories', parameters('factoryName'))]"
      ],
      "properties": {
        "type": "AzureKeyVault",
        "typeProperties": {
          "baseUrl": "[parameters('blobKeyVaultBaseUrl')]"
        }
      }
    },
    {
      "name": "[concat(parameters('factoryName'), '/LS_SqlMI')]",
      "type": "Microsoft.DataFactory/factories/linkedServices",
      "apiVersion": "2018-06-01",
      "dependsOn": "[concat(createArray(resourceId('Microsoft.DataFactory/factories', parameters('factoryName'))), if(variables('useSqlMiKv'), createArray(resourceId('Microsoft.DataFactory/factories/linkedServices', parameters('factoryName'), 'LS_SqlMI_KeyVault')), createArray()))]",
      "properties": {
        "type": "AzureSqlManagedInstance",
        "typeProperties": {
          "connectionString": "[if(variables('useSqlMiKv'), createObject('type','AzureKeyVaultSecret','store',createObject('referenceName','LS_SqlMI_KeyVault','type','LinkedServiceReference'),'secretName',parameters('sqlMiKeyVaultSecretName')), parameters('sqlMiConnectionString'))]"
        },
        "annotations": [
          "metadata-driven"
        ]
      }
    },
    {
      "name": "[concat(parameters('factoryName'), '/LS_Blob')]",
      "type": "Microsoft.DataFactory/factories/linkedServices",
      "apiVersion": "2018-06-01",
      "dependsOn": "[concat(createArray(resourceId('Microsoft.DataFactory/factories', parameters('factoryName'))), if(variables('useBlobKv'), createArray(resourceId('Microsoft.DataFactory/factories/linkedServices', parameters('factoryName'), 'LS_Blob_KeyVault')), createArray()))]",
      "properties": {
        "type": "AzureBlobStorage",
        "typeProperties": {
          "connectionString": "[if(variables('useBlobKv'), createObject('type','AzureKeyVaultSecret','store',createObject('referenceName','LS_Blob_KeyVault','type','LinkedServiceReference'),'secretName',parameters('blobKeyVaultSecretName')), parameters('blobStorageConnectionString'))]"
        },
        "annotations": [
          "metadata-driven"
        ]
      }
    },
    {
      "name": "[concat(parameters('factoryName'), '/DS_SqlMI')]",
      "type": "Microsoft.DataFactory/factories/datasets",
      "apiVersion": "2018-06-01",
      "dependsOn": [
        "[resourceId('Microsoft.DataFactory/factories/linkedServices', parameters('factoryName'), 'LS_SqlMI')]"
      ],
      "properties": {
        "type": "AzureSqlTable",
        "linkedServiceName": {
          "referenceName": "LS_SqlMI",
          "type": "LinkedServiceReference"
        },
        "parameters": {
          "schemaName": {
            "type": "string"
          },
          "tableName": {
            "type": "string"
          }
        },
        "typeProperties": {
          "tableName": {
            "value": "@{dataset().schemaName}.@{dataset().tableName}",
            "type": "Expression"
          }
        },
        "annotations": [
          "metadata-driven"
        ]
      }
    },
    {
      "name": "[concat(parameters('factoryName'), '/DS_BlobParquet')]",
      "type": "Microsoft.DataFactory/factories/datasets",
      "apiVersion": "2018-06-01",
      "dependsOn": [
        "[resourceId('Microsoft.DataFactory/factories/linkedServices', parameters('factoryName'), 'LS_Blob')]"
      ],
      "properties": {
        "type": "Parquet",
        "linkedServiceName": {
          "referenceName": "LS_Blob",
          "type": "LinkedServiceReference"
        },
        "parameters": {
          "container": {
            "type": "string"
          },
          "folderPath": {
            "type": "string"
          },
          "fileName": {
            "type": "string"
          },
          "compressionCodec": {
            "type": "string"
          }
        },
        "typeProperties": {
          "location": {
            "type": "AzureBlobStorageLocation",
            "container": {
              "value": "@dataset().container",
              "type": "Expression"
            },
            "folderPath": {
              "value": "@dataset().folderPath",
              "type": "Expression"
            },
            "fileName": {
              "value": "@dataset().fileName",
              "type": "Expression"
            }
          },
          "compressionCodec": {
            "value": "@dataset().compressionCodec",
            "type": "Expression"
          }
        },
        "annotations": [
          "metadata-driven"
        ]
      }
    },
    {
      "name": "[concat(parameters('factoryName'), '/PL_BackupToParquet')]",
      "type": "Microsoft.DataFactory/factories/pipelines",
      "apiVersion": "2018-06-01",
      "dependsOn": [
        "[resourceId('Microsoft.DataFactory/factories/datasets', parameters('factoryName'), 'DS_SqlMI')]",
        "[resourceId('Microsoft.DataFactory/factories/datasets', parameters('factoryName'), 'DS_BlobParquet')]",
        "[resourceId('Microsoft.DataFactory/factories/linkedServices', parameters('factoryName'), 'LS_SqlMI')]",
        "[resourceId('Microsoft.DataFactory/factories/linkedServices', parameters('factoryName'), 'LS_Blob')]"
      ],
      "properties": {
        "annotations": [
          "metadata-driven",
          "backup"
        ],
        "parameters": {
          "StartDate": {
            "type": "String"
          },
          "EndDate": {
            "type": "String"
          },
          "RunId": {
            "type": "String"
          }
        },
        "variables": {
          "EffectiveRunId": {
            "type": "String"
          }
        },
        "activities": [
          {
            "name": "Set_EffectiveRunId",
            "type": "SetVariable",
            "typeProperties": {
              "variableName": "EffectiveRunId",
              "value": {
                "value": "@if(or(equals(pipeline().parameters.RunId, null), equals(trim(pipeline().parameters.RunId), '')), guid(), trim(pipeline().parameters.RunId))",
                "type": "Expression"
              }
            }
          },
          {
            "name": "Lookup_BackupConfig",
            "type": "Lookup",
            "dependsOn": [
              {
                "activity": "Set_EffectiveRunId",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "typeProperties": {
              "source": {
                "type": "SqlSource",
                "sqlReaderQuery": {
                  "value": "SELECT * FROM dbo.AdfBackupConfig WHERE BackupEnabled = 1 AND (Enabled = 1 OR Enabled IS NULL)",
                  "type": "Expression"
                }
              },
              "dataset": {
                "referenceName": "DS_SqlMI",
                "type": "DatasetReference",
                "parameters": {
                  "schemaName": "dbo",
                  "tableName": "AdfBackupConfig"
                }
              },
              "firstRowOnly": false
            }
          },
          {
            "name": "ForEach_Backup",
            "type": "ForEach",
            "dependsOn": [
              {
                "activity": "Lookup_BackupConfig",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "typeProperties": {
              "items": {
                "value": "@activity('Lookup_BackupConfig').output.value",
                "type": "Expression"
              },
              "isSequential": false,
              "batchCount": 20,
              "activities": [
                {
                  "name": "Log_Backup_Running",
                  "type": "Script",
                  "linkedServiceName": {
                    "referenceName": "LS_SqlMI",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "scripts": [
                      {
                        "type": "Query",
                        "text": {
                          "value": "@{concat('INSERT INTO dbo.AdfOrchestrationRunLog (RunId, OrchestrationName, PipelineName, StepName, TableSchema, TableName, Status, StartTimeUtc, RangeStartUtc, RangeEndUtc, CorrelationId) VALUES (''', variables('EffectiveRunId'), ''', ''Backup'', ''PL_BackupToParquet'', ''Backup'', ''', item().TableSchema, ''', ''', item().TableName, ''', ''Running'', SYSUTCDATETIME(), ''', pipeline().parameters.StartDate, ''', ''', pipeline().parameters.EndDate, ''', ''', pipeline().RunId, ''')')}",
                          "type": "Expression"
                        }
                      }
                    ]
                  }
                },
                {
                  "name": "Copy_Table_To_Parquet",
                  "type": "Copy",
                  "dependsOn": [
                    {
                      "activity": "Log_Backup_Running",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "typeProperties": {
                    "source": {
                      "type": "SqlSource",
                      "sqlReaderQuery": {
                        "value": "@concat('SELECT * FROM [', item().TableSchema, '].[', item().TableName, ']', if(and(or(equals(item().UseDateRange, true), equals(item().BackupMode, 'Delta')), not(equals(item().FilterColumn, null))), concat(' WHERE [', item().FilterColumn, '] >= ''', pipeline().parameters.StartDate, ''' AND [', item().FilterColumn, '] < ''', pipeline().parameters.EndDate, ''''), ''))",
                        "type": "Expression"
                      }
                    },
                    "sink": {
                      "type": "ParquetSink",
                      "storeSettings": {
                        "type": "AzureBlobStorageWriteSettings"
                      }
                    },
                    "enableStaging": false
                  },
                  "inputs": [
                    {
                      "referenceName": "DS_SqlMI",
                      "type": "DatasetReference",
                      "parameters": {
                        "schemaName": "@item().TableSchema",
                        "tableName": "@item().TableName"
                      }
                    }
                  ],
                  "outputs": [
                    {
                      "referenceName": "DS_BlobParquet",
                      "type": "DatasetReference",
                      "parameters": {
                        "container": "[parameters('container')]",
                        "folderPath": {
                          "value": "@concat(parameters('baseFolder'),'/', parameters('environment'), '/', item().TargetFolder, '/dt=', formatDateTime(pipeline().parameters.StartDate,'yyyyMMdd'), '_', formatDateTime(pipeline().parameters.EndDate,'yyyyMMdd'))",
                          "type": "Expression"
                        },
                        "fileName": {
                          "value": "@concat(item().TableSchema, '_', item().TableName, '_', formatDateTime(pipeline().parameters.StartDate,'yyyyMMdd'), '_', formatDateTime(pipeline().parameters.EndDate,'yyyyMMdd'), '.parquet')",
                          "type": "Expression"
                        },
                        "compressionCodec": "snappy"
                      }
                    }
                  ]
                },
                {
                  "name": "Log_Backup_Succeeded",
                  "type": "Script",
                  "dependsOn": [
                    {
                      "activity": "Copy_Table_To_Parquet",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "linkedServiceName": {
                    "referenceName": "LS_SqlMI",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "scripts": [
                      {
                        "type": "Query",
                        "text": {
                          "value": "@{concat('INSERT INTO dbo.AdfOrchestrationRunLog (RunId, OrchestrationName, PipelineName, StepName, TableSchema, TableName, Status, StartTimeUtc, EndTimeUtc, RangeStartUtc, RangeEndUtc, RowsCopied, OutputFile, CorrelationId) VALUES (''', variables('EffectiveRunId'), ''', ''Backup'', ''PL_BackupToParquet'', ''Backup'', ''', item().TableSchema, ''', ''', item().TableName, ''', ''Succeeded'', SYSUTCDATETIME(), SYSUTCDATETIME(), ''', pipeline().parameters.StartDate, ''', ''', pipeline().parameters.EndDate, ''', ', string(activity('Copy_Table_To_Parquet').output.rowsCopied), ', ''', concat(parameters('baseFolder'),'/', parameters('environment'), '/', item().TargetFolder, '/dt=', formatDateTime(pipeline().parameters.StartDate,'yyyyMMdd'), '_', formatDateTime(pipeline().parameters.EndDate,'yyyyMMdd'), '/', item().TableSchema, '_', item().TableName, '_', formatDateTime(pipeline().parameters.StartDate,'yyyyMMdd'), '_', formatDateTime(pipeline().parameters.EndDate,'yyyyMMdd'), '.parquet'), ''', ''', pipeline().RunId, ''')')}",
                          "type": "Expression"
                        }
                      }
                    ]
                  }
                },
                {
                  "name": "Log_Backup_Failed",
                  "type": "Script",
                  "dependsOn": [
                    {
                      "activity": "Copy_Table_To_Parquet",
                      "dependencyConditions": [
                        "Failed"
                      ]
                    }
                  ],
                  "linkedServiceName": {
                    "referenceName": "LS_SqlMI",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "scripts": [
                      {
                        "type": "Query",
                        "text": {
                          "value": "@{concat('INSERT INTO dbo.AdfOrchestrationRunLog (RunId, OrchestrationName, PipelineName, StepName, TableSchema, TableName, Status, StartTimeUtc, EndTimeUtc, RangeStartUtc, RangeEndUtc, ErrorCode, ErrorMessage, CorrelationId) VALUES (''', variables('EffectiveRunId'), ''', ''Backup'', ''PL_BackupToParquet'', ''Backup'', ''', item().TableSchema, ''', ''', item().TableName, ''', ''Failed'', SYSUTCDATETIME(), SYSUTCDATETIME(), ''', pipeline().parameters.StartDate, ''', ''', pipeline().parameters.EndDate, ''', ''', activity('Copy_Table_To_Parquet').error.errorCode, ''', ''', replace(activity('Copy_Table_To_Parquet').error.message, '''', ' '), ''', ''', pipeline().RunId, ''')')}",
                          "type": "Expression"
                        }
                      }
                    ]
                  }
                }
              ]
            }
          }
        ]
      }
    },
    {
      "name": "[concat(parameters('factoryName'), '/PL_DeleteRecords')]",
      "type": "Microsoft.DataFactory/factories/pipelines",
      "apiVersion": "2018-06-01",
      "dependsOn": [
        "[resourceId('Microsoft.DataFactory/factories/datasets', parameters('factoryName'), 'DS_SqlMI')]",
        "[resourceId('Microsoft.DataFactory/factories/linkedServices', parameters('factoryName'), 'LS_SqlMI')]"
      ],
      "properties": {
        "annotations": [
          "metadata-driven",
          "delete"
        ],
        "parameters": {
          "StartDate": {
            "type": "String"
          },
          "EndDate": {
            "type": "String"
          },
          "RunId": {
            "type": "String"
          }
        },
        "variables": {
          "EffectiveRunId": {
            "type": "String"
          }
        },
        "activities": [
          {
            "name": "Set_EffectiveRunId",
            "type": "SetVariable",
            "typeProperties": {
              "variableName": "EffectiveRunId",
              "value": {
                "value": "@if(or(equals(pipeline().parameters.RunId, null), equals(trim(pipeline().parameters.RunId), '')), guid(), trim(pipeline().parameters.RunId))",
                "type": "Expression"
              }
            }
          },
          {
            "name": "Lookup_DeleteConfig",
            "type": "Lookup",
            "dependsOn": [
              {
                "activity": "Set_EffectiveRunId",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "typeProperties": {
              "source": {
                "type": "SqlSource",
                "sqlReaderQuery": {
                  "value": "SELECT * FROM dbo.AdfBackupConfig WHERE DeleteEnabled = 1 AND (Enabled = 1 OR Enabled IS NULL)",
                  "type": "Expression"
                }
              },
              "dataset": {
                "referenceName": "DS_SqlMI",
                "type": "DatasetReference",
                "parameters": {
                  "schemaName": "dbo",
                  "tableName": "AdfBackupConfig"
                }
              },
              "firstRowOnly": false
            }
          },
          {
            "name": "ForEach_Delete",
            "type": "ForEach",
            "dependsOn": [
              {
                "activity": "Lookup_DeleteConfig",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "typeProperties": {
              "items": {
                "value": "@activity('Lookup_DeleteConfig').output.value",
                "type": "Expression"
              },
              "isSequential": false,
              "batchCount": 20,
              "activities": [
                {
                  "name": "Log_Delete_Running",
                  "type": "Script",
                  "linkedServiceName": {
                    "referenceName": "LS_SqlMI",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "scripts": [
                      {
                        "type": "Query",
                        "text": {
                          "value": "@{concat('INSERT INTO dbo.AdfOrchestrationRunLog (RunId, OrchestrationName, PipelineName, StepName, TableSchema, TableName, Status, StartTimeUtc, RangeStartUtc, RangeEndUtc, CorrelationId) VALUES (''', variables('EffectiveRunId'), ''', ''Delete'', ''PL_DeleteRecords'', ''Delete'', ''', item().TableSchema, ''', ''', item().TableName, ''', ''Running'', SYSUTCDATETIME(), ''', pipeline().parameters.StartDate, ''', ''', pipeline().parameters.EndDate, ''', ''', pipeline().RunId, ''')')}",
                          "type": "Expression"
                        }
                      }
                    ]
                  }
                },
                {
                  "name": "If_Delete_With_Filter",
                  "type": "IfCondition",
                  "dependsOn": [
                    {
                      "activity": "Log_Delete_Running",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "typeProperties": {
                    "expression": {
                      "value": "@and(equals(item().UseDateRange, true), not(equals(item().FilterColumn, null)))",
                      "type": "Expression"
                    },
                    "ifTrueActivities": [
                      {
                        "name": "Delete_Rows_Filtered",
                        "type": "Script",
                        "linkedServiceName": {
                          "referenceName": "LS_SqlMI",
                          "type": "LinkedServiceReference"
                        },
                        "typeProperties": {
                          "scripts": [
                            {
                              "type": "Query",
                              "text": {
                                "value": "@{concat('DELETE FROM [', item().TableSchema, '].[', item().TableName, '] WHERE [', item().FilterColumn, '] >= ''', pipeline().parameters.StartDate, ''' AND [', item().FilterColumn, '] < ''', pipeline().parameters.EndDate, '''')}" ,
                                "type": "Expression"
                              }
                            }
                          ]
                        }
                      },
                      {
                        "name": "Log_Delete_Succeeded_Filtered",
                        "type": "Script",
                        "dependsOn": [
                          {
                            "activity": "Delete_Rows_Filtered",
                            "dependencyConditions": [
                              "Succeeded"
                            ]
                          }
                        ],
                        "linkedServiceName": {
                          "referenceName": "LS_SqlMI",
                          "type": "LinkedServiceReference"
                        },
                        "typeProperties": {
                          "scripts": [
                            {
                              "type": "Query",
                              "text": {
                                "value": "@{concat('INSERT INTO dbo.AdfOrchestrationRunLog (RunId, OrchestrationName, PipelineName, StepName, TableSchema, TableName, Status, StartTimeUtc, EndTimeUtc, RangeStartUtc, RangeEndUtc, RowsDeleted, CorrelationId) VALUES (''', variables('EffectiveRunId'), ''', ''Delete'', ''PL_DeleteRecords'', ''Delete'', ''', item().TableSchema, ''', ''', item().TableName, ''', ''Succeeded'', SYSUTCDATETIME(), SYSUTCDATETIME(), ''', pipeline().parameters.StartDate, ''', ''', pipeline().parameters.EndDate, ''', NULL, ''', pipeline().RunId, ''')')}",
                                "type": "Expression"
                              }
                            }
                          ]
                        }
                      },
                      {
                        "name": "Log_Delete_Failed_Filtered",
                        "type": "Script",
                        "dependsOn": [
                          {
                            "activity": "Delete_Rows_Filtered",
                            "dependencyConditions": [
                              "Failed"
                            ]
                          }
                        ],
                        "linkedServiceName": {
                          "referenceName": "LS_SqlMI",
                          "type": "LinkedServiceReference"
                        },
                        "typeProperties": {
                          "scripts": [
                            {
                              "type": "Query",
                              "text": {
                                "value": "@{concat('INSERT INTO dbo.AdfOrchestrationRunLog (RunId, OrchestrationName, PipelineName, StepName, TableSchema, TableName, Status, StartTimeUtc, EndTimeUtc, RangeStartUtc, RangeEndUtc, ErrorCode, ErrorMessage, CorrelationId) VALUES (''', variables('EffectiveRunId'), ''', ''Delete'', ''PL_DeleteRecords'', ''Delete'', ''', item().TableSchema, ''', ''', item().TableName, ''', ''Failed'', SYSUTCDATETIME(), SYSUTCDATETIME(), ''', pipeline().parameters.StartDate, ''', ''', pipeline().parameters.EndDate, ''', ''SCRIPT_ERROR'', ''Delete failed'', ''', pipeline().RunId, ''')')}",
                                "type": "Expression"
                              }
                            }
                          ]
                        }
                      }
                    ],
                    "ifFalseActivities": [
                      {
                        "name": "If_AllowFullDelete",
                        "type": "IfCondition",
                        "typeProperties": {
                          "expression": {
                            "value": "@equals(item().AllowFullDelete, true)",
                            "type": "Expression"
                          },
                          "ifTrueActivities": [
                            {
                              "name": "Delete_All",
                              "type": "Script",
                              "linkedServiceName": {
                                "referenceName": "LS_SqlMI",
                                "type": "LinkedServiceReference"
                              },
                              "typeProperties": {
                                "scripts": [
                                  {
                                    "type": "Query",
                                    "text": {
                                      "value": "@{concat('DELETE FROM [', item().TableSchema, '].[', item().TableName, ']')}" ,
                                      "type": "Expression"
                                    }
                                  }
                                ]
                              }
                            },
                            {
                              "name": "Log_Delete_Succeeded_Full",
                              "type": "Script",
                              "dependsOn": [
                                {
                                  "activity": "Delete_All",
                                  "dependencyConditions": [
                                    "Succeeded"
                                  ]
                                }
                              ],
                              "linkedServiceName": {
                                "referenceName": "LS_SqlMI",
                                "type": "LinkedServiceReference"
                              },
                              "typeProperties": {
                                "scripts": [
                                  {
                                    "type": "Query",
                                    "text": {
                                      "value": "@{concat('INSERT INTO dbo.AdfOrchestrationRunLog (RunId, OrchestrationName, PipelineName, StepName, TableSchema, TableName, Status, StartTimeUtc, EndTimeUtc, CorrelationId) VALUES (''', variables('EffectiveRunId'), ''', ''Delete'', ''PL_DeleteRecords'', ''Delete'', ''', item().TableSchema, ''', ''', item().TableName, ''', ''Succeeded'', SYSUTCDATETIME(), SYSUTCDATETIME(), ''', pipeline().RunId, ''')')}",
                                      "type": "Expression"
                                    }
                                  }
                                ]
                              }
                            }
                          ],
                          "ifFalseActivities": [
                            {
                              "name": "Log_Delete_Skipped",
                              "type": "Script",
                              "linkedServiceName": {
                                "referenceName": "LS_SqlMI",
                                "type": "LinkedServiceReference"
                              },
                              "typeProperties": {
                                "scripts": [
                                  {
                                    "type": "Query",
                                    "text": {
                                      "value": "@{concat('INSERT INTO dbo.AdfOrchestrationRunLog (RunId, OrchestrationName, PipelineName, StepName, TableSchema, TableName, Status, StartTimeUtc, EndTimeUtc, CorrelationId) VALUES (''', variables('EffectiveRunId'), ''', ''Delete'', ''PL_DeleteRecords'', ''Delete'', ''', item().TableSchema, ''', ''', item().TableName, ''', ''Skipped'', SYSUTCDATETIME(), SYSUTCDATETIME(), ''', pipeline().RunId, ''')')}",
                                      "type": "Expression"
                                    }
                                  }
                                ]
                              }
                            }
                          ]
                        }
                      }
                    ]
                  }
                }
              ]
            }
          }
        ]
      }
    },
    {
      "name": "[concat(parameters('factoryName'), '/PL_RestoreFromParquet')]",
      "type": "Microsoft.DataFactory/factories/pipelines",
      "apiVersion": "2018-06-01",
      "dependsOn": [
        "[resourceId('Microsoft.DataFactory/factories/datasets', parameters('factoryName'), 'DS_SqlMI')]",
        "[resourceId('Microsoft.DataFactory/factories/datasets', parameters('factoryName'), 'DS_BlobParquet')]",
        "[resourceId('Microsoft.DataFactory/factories/linkedServices', parameters('factoryName'), 'LS_SqlMI')]",
        "[resourceId('Microsoft.DataFactory/factories/linkedServices', parameters('factoryName'), 'LS_Blob')]"
      ],
      "properties": {
        "annotations": [
          "metadata-driven",
          "restore"
        ],
        "parameters": {
          "StartDate": {
            "type": "String"
          },
          "EndDate": {
            "type": "String"
          },
          "RunId": {
            "type": "String"
          }
        },
        "variables": {
          "EffectiveRunId": {
            "type": "String"
          }
        },
        "activities": [
          {
            "name": "Set_EffectiveRunId",
            "type": "SetVariable",
            "typeProperties": {
              "variableName": "EffectiveRunId",
              "value": {
                "value": "@if(or(equals(pipeline().parameters.RunId, null), equals(trim(pipeline().parameters.RunId), '')), guid(), trim(pipeline().parameters.RunId))",
                "type": "Expression"
              }
            }
          },
          {
            "name": "Lookup_RestoreConfig",
            "type": "Lookup",
            "dependsOn": [
              {
                "activity": "Set_EffectiveRunId",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "typeProperties": {
              "source": {
                "type": "SqlSource",
                "sqlReaderQuery": {
                  "value": "SELECT * FROM dbo.AdfBackupConfig WHERE RestoreEnabled = 1 AND (Enabled = 1 OR Enabled IS NULL)",
                  "type": "Expression"
                }
              },
              "dataset": {
                "referenceName": "DS_SqlMI",
                "type": "DatasetReference",
                "parameters": {
                  "schemaName": "dbo",
                  "tableName": "AdfBackupConfig"
                }
              },
              "firstRowOnly": false
            }
          },
          {
            "name": "ForEach_Restore",
            "type": "ForEach",
            "dependsOn": [
              {
                "activity": "Lookup_RestoreConfig",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "typeProperties": {
              "items": {
                "value": "@activity('Lookup_RestoreConfig').output.value",
                "type": "Expression"
              },
              "isSequential": false,
              "batchCount": 20,
              "activities": [
                {
                  "name": "Log_Restore_Running",
                  "type": "Script",
                  "linkedServiceName": {
                    "referenceName": "LS_SqlMI",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "scripts": [
                      {
                        "type": "Query",
                        "text": {
                          "value": "@{concat('INSERT INTO dbo.AdfOrchestrationRunLog (RunId, OrchestrationName, PipelineName, StepName, TableSchema, TableName, Status, StartTimeUtc, RangeStartUtc, RangeEndUtc, CorrelationId) VALUES (''', variables('EffectiveRunId'), ''', ''Restore'', ''PL_RestoreFromParquet'', ''Restore'', ''', item().TableSchema, ''', ''', item().TableName, ''', ''Running'', SYSUTCDATETIME(), ''', pipeline().parameters.StartDate, ''', ''', pipeline().parameters.EndDate, ''', ''', pipeline().RunId, ''')')}",
                          "type": "Expression"
                        }
                      }
                    ]
                  }
                },
                {
                  "name": "If_Truncate",
                  "type": "IfCondition",
                  "dependsOn": [
                    {
                      "activity": "Log_Restore_Running",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "typeProperties": {
                    "expression": {
                      "value": "@equals(item().RestoreMode, 'TruncateLoad')",
                      "type": "Expression"
                    },
                    "ifTrueActivities": [
                      {
                        "name": "Truncate_Table",
                        "type": "Script",
                        "linkedServiceName": {
                          "referenceName": "LS_SqlMI",
                          "type": "LinkedServiceReference"
                        },
                        "typeProperties": {
                          "scripts": [
                            {
                              "type": "Query",
                              "text": {
                                "value": "@{concat('TRUNCATE TABLE [', item().TableSchema, '].[', item().TableName, ']')}" ,
                                "type": "Expression"
                              }
                            }
                          ]
                        }
                      }
                    ]
                  }
                },
                {
                  "name": "Copy_Parquet_To_Table",
                  "type": "Copy",
                  "dependsOn": [
                    {
                      "activity": "If_Truncate",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "typeProperties": {
                    "source": {
                      "type": "ParquetSource"
                    },
                    "sink": {
                      "type": "SqlSink",
                      "writeBehavior": "insert",
                      "writeBatchSize": 10000
                    }
                  },
                  "inputs": [
                    {
                      "referenceName": "DS_BlobParquet",
                      "type": "DatasetReference",
                      "parameters": {
                        "container": "[parameters('container')]",
                        "folderPath": {
                          "value": "@concat(parameters('baseFolder'),'/', parameters('environment'), '/', item().TargetFolder, '/dt=', formatDateTime(pipeline().parameters.StartDate,'yyyyMMdd'), '_', formatDateTime(pipeline().parameters.EndDate,'yyyyMMdd'))",
                          "type": "Expression"
                        },
                        "fileName": {
                          "value": "@concat(item().TableSchema, '_', item().TableName, '_', formatDateTime(pipeline().parameters.StartDate,'yyyyMMdd'), '_', formatDateTime(pipeline().parameters.EndDate,'yyyyMMdd'), '.parquet')",
                          "type": "Expression"
                        },
                        "compressionCodec": "snappy"
                      }
                    }
                  ],
                  "outputs": [
                    {
                      "referenceName": "DS_SqlMI",
                      "type": "DatasetReference",
                      "parameters": {
                        "schemaName": "@item().TableSchema",
                        "tableName": "@item().TableName"
                      }
                    }
                  ]
                },
                {
                  "name": "Log_Restore_Succeeded",
                  "type": "Script",
                  "dependsOn": [
                    {
                      "activity": "Copy_Parquet_To_Table",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "linkedServiceName": {
                    "referenceName": "LS_SqlMI",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "scripts": [
                      {
                        "type": "Query",
                        "text": {
                          "value": "@{concat('INSERT INTO dbo.AdfOrchestrationRunLog (RunId, OrchestrationName, PipelineName, StepName, TableSchema, TableName, Status, StartTimeUtc, EndTimeUtc, RangeStartUtc, RangeEndUtc, RowsCopied, OutputFile, CorrelationId) VALUES (''', variables('EffectiveRunId'), ''', ''Restore'', ''PL_RestoreFromParquet'', ''Restore'', ''', item().TableSchema, ''', ''', item().TableName, ''', ''Succeeded'', SYSUTCDATETIME(), SYSUTCDATETIME(), ''', pipeline().parameters.StartDate, ''', ''', pipeline().parameters.EndDate, ''', ', string(activity('Copy_Parquet_To_Table').output.rowsCopied), ', ''', concat(parameters('baseFolder'),'/', parameters('environment'), '/', item().TargetFolder, '/dt=', formatDateTime(pipeline().parameters.StartDate,'yyyyMMdd'), '_', formatDateTime(pipeline().parameters.EndDate,'yyyyMMdd'), '/', item().TableSchema, '_', item().TableName, '_', formatDateTime(pipeline().parameters.StartDate,'yyyyMMdd'), '_', formatDateTime(pipeline().parameters.EndDate,'yyyyMMdd'), '.parquet'), ''', ''', pipeline().RunId, ''')')}",
                          "type": "Expression"
                        }
                      }
                    ]
                  }
                },
                {
                  "name": "Log_Restore_Failed",
                  "type": "Script",
                  "dependsOn": [
                    {
                      "activity": "Copy_Parquet_To_Table",
                      "dependencyConditions": [
                        "Failed"
                      ]
                    }
                  ],
                  "linkedServiceName": {
                    "referenceName": "LS_SqlMI",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "scripts": [
                      {
                        "type": "Query",
                        "text": {
                          "value": "@{concat('INSERT INTO dbo.AdfOrchestrationRunLog (RunId, OrchestrationName, PipelineName, StepName, TableSchema, TableName, Status, StartTimeUtc, EndTimeUtc, RangeStartUtc, RangeEndUtc, ErrorCode, ErrorMessage, CorrelationId) VALUES (''', variables('EffectiveRunId'), ''', ''Restore'', ''PL_RestoreFromParquet'', ''Restore'', ''', item().TableSchema, ''', ''', item().TableName, ''', ''Failed'', SYSUTCDATETIME(), SYSUTCDATETIME(), ''', pipeline().parameters.StartDate, ''', ''', pipeline().parameters.EndDate, ''', ''', activity('Copy_Parquet_To_Table').error.errorCode, ''', ''', replace(activity('Copy_Parquet_To_Table').error.message, '''', ' '), ''', ''', pipeline().RunId, ''')')}",
                          "type": "Expression"
                        }
                      }
                    ]
                  }
                }
              ]
            }
          }
        ]
      }
    },
    {
      "name": "[concat(parameters('factoryName'), '/PL_Orchestrate_Backup_Delete_Restore')]",
      "type": "Microsoft.DataFactory/factories/pipelines",
      "apiVersion": "2018-06-01",
      "dependsOn": [
        "[resourceId('Microsoft.DataFactory/factories/pipelines', parameters('factoryName'), 'PL_BackupToParquet')]",
        "[resourceId('Microsoft.DataFactory/factories/pipelines', parameters('factoryName'), 'PL_DeleteRecords')]",
        "[resourceId('Microsoft.DataFactory/factories/pipelines', parameters('factoryName'), 'PL_RestoreFromParquet')]"
      ],
      "properties": {
        "annotations": [
          "metadata-driven",
          "orchestrate"
        ],
        "parameters": {
          "StartDate": {
            "type": "String"
          },
          "EndDate": {
            "type": "String"
          },
          "RunId": {
            "type": "String"
          },
          "DoBackup": {
            "type": "Bool",
            "defaultValue": true
          },
          "DoDelete": {
            "type": "Bool",
            "defaultValue": false
          },
          "DoRestore": {
            "type": "Bool",
            "defaultValue": false
          }
        },
        "variables": {
          "EffectiveRunId": {
            "type": "String"
          }
        },
        "activities": [
          {
            "name": "Set_EffectiveRunId",
            "type": "SetVariable",
            "typeProperties": {
              "variableName": "EffectiveRunId",
              "value": {
                "value": "@if(or(equals(pipeline().parameters.RunId, null), equals(trim(pipeline().parameters.RunId), '')), guid(), trim(pipeline().parameters.RunId))",
                "type": "Expression"
              }
            }
          },
          {
            "name": "Validate_DateRange",
            "type": "IfCondition",
            "dependsOn": [
              {
                "activity": "Set_EffectiveRunId",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "typeProperties": {
              "expression": {
                "value": "@less(pipeline().parameters.StartDate, pipeline().parameters.EndDate)",
                "type": "Expression"
              },
              "ifFalseActivities": [
                {
                  "name": "Fail_Invalid_DateRange",
                  "type": "Fail",
                  "typeProperties": {
                    "message": "StartDate must be less than EndDate.",
                    "errorCode": "INVALID_DATE_RANGE"
                  }
                }
              ],
              "ifTrueActivities": [
                {
                  "name": "DateRange_Valid",
                  "type": "Wait",
                  "typeProperties": {
                    "waitTimeInSeconds": 1
                  }
                }
              ]
            }
          },
          {
            "name": "If_Do_Backup",
            "type": "IfCondition",
            "dependsOn": [
              {
                "activity": "Validate_DateRange",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "typeProperties": {
              "expression": {
                "value": "@pipeline().parameters.DoBackup",
                "type": "Expression"
              },
              "ifTrueActivities": [
                {
                  "name": "Execute_Backup",
                  "type": "ExecutePipeline",
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "PL_BackupToParquet",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "StartDate": {
                        "value": "@pipeline().parameters.StartDate",
                        "type": "Expression"
                      },
                      "EndDate": {
                        "value": "@pipeline().parameters.EndDate",
                        "type": "Expression"
                      },
                      "RunId": {
                        "value": "@variables('EffectiveRunId')",
                        "type": "Expression"
                      }
                    }
                  }
                }
              ]
            }
          },
          {
            "name": "If_Do_Delete",
            "type": "IfCondition",
            "dependsOn": [
              {
                "activity": "If_Do_Backup",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "typeProperties": {
              "expression": {
                "value": "@pipeline().parameters.DoDelete",
                "type": "Expression"
              },
              "ifTrueActivities": [
                {
                  "name": "Execute_Delete",
                  "type": "ExecutePipeline",
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "PL_DeleteRecords",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "StartDate": {
                        "value": "@pipeline().parameters.StartDate",
                        "type": "Expression"
                      },
                      "EndDate": {
                        "value": "@pipeline().parameters.EndDate",
                        "type": "Expression"
                      },
                      "RunId": {
                        "value": "@variables('EffectiveRunId')",
                        "type": "Expression"
                      }
                    }
                  }
                }
              ]
            }
          },
          {
            "name": "If_Do_Restore",
            "type": "IfCondition",
            "dependsOn": [
              {
                "activity": "If_Do_Delete",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "typeProperties": {
              "expression": {
                "value": "@pipeline().parameters.DoRestore",
                "type": "Expression"
              },
              "ifTrueActivities": [
                {
                  "name": "Execute_Restore",
                  "type": "ExecutePipeline",
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "PL_RestoreFromParquet",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "StartDate": {
                        "value": "@pipeline().parameters.StartDate",
                        "type": "Expression"
                      },
                      "EndDate": {
                        "value": "@pipeline().parameters.EndDate",
                        "type": "Expression"
                      },
                      "RunId": {
                        "value": "@variables('EffectiveRunId')",
                        "type": "Expression"
                      }
                    }
                  }
                }
              ]
            }
          }
        ]
      }
    }
  ]
}
